@font-face {
    font-family: OpenSans;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf)
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
    font-weight: bold;
}

/* .main-container {

} */

.about-p {
    text-align: left;
}

body {
    background-color: #c49271;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(84, 84, 84);
    margin: auto;
}



.btn-link {
    text-decoration: none;
    border-radius: .2rem;
    padding: .4rem .6rem;
}

.container {
    margin: 1rem 30rem;
    max-width: fit-content; 
}

.cover-main{
    background-attachment: fixed;
    background-image: url(./images/background.png);
    margin-right: 20rem;
    margin-left: 20rem;
}

/* max-width: adjusts accordingly to window sizing */

#email {
    margin: 1rem;
}

.ext-link {
    color: white;
    text-decoration: none;
    box-shadow: inset -2px -2px rgba(0, 0, 0, 0.502), inset 2px 2px rgba(255, 255, 255, 0.481);
    background-color: rgba(153, 165, 206, 0.776);
    word-break: inherit;
}

.ext-link:hover {
    background-color: #576dc76e;
}

footer {
    color: white;
}

.int-link {
    color: white;
    text-decoration: none;
    background-color: #bf722ed2;
    box-shadow: inset -2px -2px rgba(0, 0, 0, 0.502), inset 2px 2px rgba(255, 255, 255, 0.481);
    word-break: inherit;
}

.int-link:active {
    box-shadow: inset 2px 2px rgba(0, 0, 0, 0.502),
        inset -2px -2px rgba(223, 134, 75, 0.584);
}

.int-link:hover {
    background-color: #d2854bb3;
}

h3 {
    color: white;
    font-weight: 400;
}

header {
    margin-top: 1rem;
}

#header-h1 {
    font-size: 4rem;
    font-weight: 400;
}

.header-h3 {
    text-align: left;
}

#header-quote {
    font-style: inherit;
}

.input-email {
    border: none;
    background-color: rgb(101, 117, 181);
}

/* .layout{
    background-color: white;
    padding: 2rem 8rem;
    max-width: fit-content;
    margin: auto;
    border: 1px solid rgb(167, 167, 167);
} */

li {
    list-style-type: none;
}

.main{
    margin-right: 10rem;
    margin-left: 10rem;
}

.nav {
    list-style-type: none;
    background-color: rgba(133, 105, 90, 0.42);
    overflow: hidden;
    /* margin-right: 20rem;
    margin-left: 20rem; */
    padding: 40px 42px;
}

.nav-index{
    margin-top: 20%;
}

.nav:hover{
    background-color: rgb(164, 124, 102);
}

.p, .p2 {
    word-break: inherit;
    margin-top: 1rem;
}


#profile-img {
    width: 270px;
    height: 280px;
    border-radius: 50%;
    margin: auto;
}

#photo-sun {
    width: 270px;
    height: 280px;
    border-radius: .9rem;
    float: left;
    background: grey;
    margin-right: 1rem;
}

#photo-todo {
    width: 420px;
    height: 430px;
    float: center;
    background: grey;
    margin-left: 1rem;
    box-shadow: rgba(161, 161, 161, 0.596) 2px 2px 30px,
        rgba(161, 161, 161, 0.596) -2px -2px 30px;
}