@font-face {
    font-family: OpenSans;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf)
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
    font-weight: bold;
}



/* ----------------------- Header ----------------------- */

.font-lrg {
    font-size: 4rem;
    font-weight: 600;
}

h1 {
    margin: 1rem;
}

h3 {
    color: rgb(52, 50, 50);
    font-weight: 400;
}

.header-h3 {
    text-align: left;
}

#header-quote {
    font-style: inherit;
}

/* ----------------------- BODY ----------------------- */
body {
    font-family: 'Open Sans', sans-serif;
    /* background-color: #353434; */
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgb(31, 29, 29);
    margin: 0 auto;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(203, 155, 118, 0.297);
    max-width: fit-content;
    min-height: 100vh;
    max-width: 76rem;
    margin: 0 auto;
    padding-top: 6rem;
}

.main {
    margin-right: 15rem;
    margin-left: 15rem;
}

.contact-main{
    margin-right: 20rem;
    margin-left: 20rem;
}

/* ------------------------ individual styles ----------------------- */
.p-bold {
    font-weight: bold;

}

/* ----------------------- MISC ----------------------- */
footer {
    color: rgb(40, 39, 39);
}



#email {
    margin: 1rem;
}

li {
    list-style-type: none;
}

.nav {
    list-style-type: none;
    background-color: rgb(62, 55, 53);
    overflow: hidden;
    padding: 32px 0;
    position: fixed;
    display: block;
    width: 100vw;
    left: 0;
    max-width: 100%;
    box-shadow: rgba(169, 168, 168, 0.153) -2px -2px 30px,
    rgba(161, 161, 161, 0.596) -2px -2px 30px; 
} 


.p-left {
    text-align: left;
}

.p {
    word-break: inherit;
}

.p-margin {
    margin-top: 1rem;
}

.p-small-margin {
    margin-top: .4rem;
}

.p-white{
    color: white;
}

/* ----------------------- Images ----------------------- */
#profile-img {
    width: 270px;
    height: 280px;
    border-radius: 50%;
    margin: auto;
}

#photo-sun {
    width: 270px;
    height: 280px;
    border-radius: .9rem;
    float: left;
    background: grey;
    margin-right: 1rem;
}

#photo-todo {
    width: 420px;
    height: 460px;
    float: center;
    background: rgb(213, 212, 212);
    box-shadow: rgba(169, 168, 168, 0.596) 2px 2px 30px,
        rgba(161, 161, 161, 0.596) -2px -2px 30px;
    border-radius: .5rem;
}



/* #photo-banzz{ COME BACK AND INCLUDE ME INTO LIKES
    width: 200px;
    height: 120px;
    margin: auto;
    border-radius: .5rem;
    float: right;
} */

/* ----------------------- Buttons ----------------------- */
.btn-link {
    text-decoration: none;
    border-radius: .2rem;
    padding: .4rem .7rem;
    margin: .15rem;
}

.ext-link {
    color: black;
    text-decoration: none;
    box-shadow: inset -2px -2px rgba(0, 0, 0, 0.502), inset 2px 2px rgba(255, 255, 255, 0.481);
    background-color: rgba(114, 138, 150, 0.947);
    word-break: inherit;
    font-weight: bolder;
    font-size: 1.0rem;
}

.ext-link:hover {
    background-color: #f2a5476e;
}

.int-link {
    font-weight: bolder;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    background-color: #ce996ae5;
    word-break: inherit;
}

.unpressed {
    box-shadow: inset -2px -2px rgba(0, 0, 0, 0.502),
        inset 2px 2px rgba(255, 255, 255, 0.481);
}

.pressed {
    box-shadow: inset 2px 2px rgba(0, 0, 0, 0.502),
        inset -2px -2px rgba(255, 255, 255, 0.481);
}

.int-link:active {
    box-shadow: inset 2px 2px rgba(0, 0, 0, 0.502),
        inset -2px -2px rgba(247, 210, 131, 0.584);
}

.int-link:hover {
    background-color: #eba46668;
}

.input-email {
    border: none;
    background-color: rgba(201, 163, 134, 0.749);
}