

/* ------------------------------------------------ HEADER ------------------------------------------------ */

html{
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#name{
    margin-top: 3rem;
    font-size: 50px;
    text-align: center;
    color: rgb(65, 58, 58);
    text-shadow: 5px 5px 5px rgb(160, 151, 151);
}

div.nav{
    text-align: center;
    margin-bottom: 1rem;
}


/* ------------------------------------------------ BODY ------------------------------------------------ */

body{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.container {
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
}
.flex-grid {
    display: flex;
    text-align: justify;
    margin: 0 12rem;
    background-color: rgba(243, 240, 240, 0.199);
}

.col{
    flex: 1;
}

.bio-text, .quote-text{
    margin: 0 1rem;
}

.quote-text{
    color: rgb(44, 43, 43);
    font-style: italic;
}



/* --------------------------------------------- INDIVIDUAL STYLES -------------------------------------- */
 hr{
     width: 70rem;
 }

 .margin-text{
     margin: 1rem 1rem;
 }

/* ---------------------------------------------- MISC STYLES ------------------------------------------- */

a{
    text-decoration: none;
    color: rgb(70, 61, 61);
}

li {
    list-style-type: none;
}


/* ------------------------------------------------ IMAGE ------------------------------------------------ */
#profile-img {
    width: 270px;
    height: 280px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px grey;
    border: 2px solid rgba(134, 105, 105, 0.363);
    display: block;
    margin: 0 auto 2rem auto;
}

#photo-sun {
    width: 270px;
    height: 280px;
    border-radius: .9rem;
    float: left;
    background: grey;
    margin-right: 1rem;
}

#photo-todo {
    width: 420px;
    height: 460px;
    float: center;
    background: rgb(213, 212, 212);
    box-shadow: rgba(169, 168, 168, 0.596) 2px 2px 30px,
                rgba(170, 107, 107, 0.596) -2px -2px 30px;
    border-radius: .5rem;
}

/* ------------------------------------------------ BUTTONS ------------------------------------------------ */



footer{
    margin-top: 8rem;
    text-align: center;
}