

/* ------------------------------------------------ HEADER ------------------------------------------------ */

html{
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
}

#name{
    margin-top: 3rem;
    font-size: 4rem;
    text-align: center;
    color: rgb(65, 58, 58);
    text-shadow: 5px 5px 5px rgb(160, 151, 151);
    padding: 0 auto;
}

div.nav{
    text-align: center;
    margin-bottom: 1rem;
}


/* ------------------------------------------------ BODY ------------------------------------------------ */

body{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    display:flex;
    flex-direction:column
}

.container {
    width: 100%;
    margin: 0 auto;
}

/* FLEX GRID */
.flex-grid {
    display: flex;
    text-align: justify;
    margin: 0 12rem;
    /* background-color: rgba(243, 240, 240, 0.096); */
    border-radius: 0.5rem;
}

.inner-container{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.col{
    flex: 1;
}

.bio-text, .quote-text{
    margin: 0 1rem;
}

.quote-text{
    color: rgb(44, 43, 43);
    font-style: italic;
}



/* --------------------------------------------- INDIVIDUAL STYLES -------------------------------------- */
 hr{
     width: 70rem;
 }

 .margin-text{
     margin: 0 10rem;
 }

 .center{
     text-align: center;
 }

#email{
    background-color: rgba(250, 243, 244, 0.945);
    border-radius: 4px;
    padding: 5px;
    box-shadow: 2px 2px 2px grey;
}

#email:hover{
    background-color: rgba(248, 214, 201, 0.527);
}

.h4{
    font-size: large;
    font-weight: bold;
}


/* ---------------------------------------------- MISC STYLES ------------------------------------------- */

.nav-link{
    text-decoration: none;
    color: rgb(70, 61, 61);
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: rgb(186, 98, 98);
}

li {
    list-style-type: none;
}

.center{
    text-align: center;
}


.linkedin-margin-logo{
    margin-top: 2rem;
}

.eight-px{
    padding-top: 8px;
}

/* ------------------------------------------------ IMAGE ------------------------------------------------ */
#profile-img {
    width: 270px;
    height: 280px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px grey;
    border: 2px solid rgba(134, 105, 105, 0.363);
    display: block;
    margin: 0 auto 2rem auto;
    padding: 0 auto;
}

.photo {
    width: 270px;
    height: 280px;
    border-radius: .9rem;
    float: left;
    background: grey;
    margin-right: 1rem;
}

#college-logo{
    width: 270px;
    height: 230;
    border-radius: .9rem;
    float: right;
    background: grey;
    margin-left: 1rem;
}



.logo-size{
    width: 50px;
    height: 50px;
    /* display: inline-block; */
}

.logo-link {
    float: left;
    padding: 10px;
}



footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    text-align: center;
    margin-top:auto
}

