@font-face {
    font-family: OpenSans;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf)
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
    font-weight: bold;
}




/* ----------------------- Header ----------------------- */

.font-lrg {
    font-size: 4rem;
    font-weight: 300;
}

h1 {
    margin: 1rem;
}

h3 {
    color: white;
    font-weight: 400;
}

.header-h3 {
    text-align: left;
}

#header-quote {
    font-style: inherit;
}

/* ----------------------- BODY ----------------------- */


body {
    background-color: #c49271;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(84, 84, 84);
    margin: 0 auto;
}
.container {
    background-color: #c49271;
    max-width: fit-content;
    min-height: 100vh;
    max-width: 50rem;
    margin: 0 auto;
    padding-top: 5rem;
}

.main {
    margin-right: 10rem;
    margin-left: 10rem;
}

/* ----------------------- color styles ----------------------- */


/* .blue {
    background-color: blue;
}

.black {
    background-color: black;
} */


/* ----------------------- X ----------------------- */

footer {
    color: white;
}

#email {
    margin: 1rem;
}

li {
    list-style-type: none;
}


.nav {
    list-style-type: none;
    background-color: rgba(133, 105, 90, 0.42);
    overflow: hidden;
    /* margin-right: 20rem;
    margin-left: 20rem; */
    padding: 40px 0;
    position: fixed;
    display: block;
    width: 100vw;
}

.nav-index {
    margin-top: 20%;
}

.nav:hover {
    background-color: rgb(164, 124, 102);
}

.about-p {
    text-align: left;
}

.p,
.p2 {
    word-break: inherit;
    margin-top: 1rem;
}

/* ----------------------- Images ----------------------- */

#profile-img {
    width: 270px;
    height: 280px;
    border-radius: 50%;
    margin: auto;
}

#photo-sun {
    width: 270px;
    height: 280px;
    border-radius: .9rem;
    float: left;
    background: grey;
    margin-right: 1rem;
}

#photo-todo {
    width: 420px;
    height: 430px;
    float: center;
    background: grey;
    box-shadow: rgba(161, 161, 161, 0.596) 2px 2px 30px,
    rgba(161, 161, 161, 0.596) -2px -2px 30px;
}

/* ----------------------- Buttons ----------------------- */

.btn-link {
    text-decoration: none;
    border-radius: .2rem;
    padding: .4rem .6rem;
}

.ext-link {
    color: white;
    text-decoration: none;
    box-shadow: inset -2px -2px rgba(0, 0, 0, 0.502), inset 2px 2px rgba(255, 255, 255, 0.481);
    background-color: rgba(83, 104, 165, 0.776);
    word-break: inherit;
}

.ext-link:hover {
    background-color: #576dc76e;
}

.int-link {
    color: white;
    text-decoration: none;
    background-color: #bf722ed2;
    box-shadow: inset -2px -2px rgba(0, 0, 0, 0.502), inset 2px 2px rgba(255, 255, 255, 0.481);
    word-break: inherit;
}

.int-link:active {
    box-shadow: inset 2px 2px rgba(0, 0, 0, 0.502),
        inset -2px -2px rgba(223, 134, 75, 0.584);
}

.int-link:hover {
    background-color: #d2854bb3;
}

.input-email {
    border: none;
    background-color: rgb(101, 117, 181);
}